<ion-view>
  <ion-content>
    <div class="row responsive-sm" id="profile-buttons">
      <div class="col-80 col-offset-10">
        <div class="row">
          <div class="col-50">
            <a ui-sref="tabs.profile.new">
              <img ng-src="/app/www/img/icons/novo_membro.png" class="img-responsive"/>
              <p>Novo Membro</p>
            </a>
          </div>
          <div class="col-50">
            <a ui-sref="tabs.profile.search">
              <img ng-src="/app/www/img/icons/pesquisa.png" class="img-responsive"/>
              <p>Pesquisar</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
