<ion-view>
  <ion-content class="padding">
    <div id = "fb-root"></div>
    <button class = "button button-block" ng-click = "loginFacebook()">LOG IN</button>
    <button class = "button button-block" ng-click = "logoutFacebook()">LOG OUT</button>
    <button class = "button button-block" ng-click = "checkLoginStatus()">CHECK</button>
    <button class = "button button-block" ng-click = "facebookAPI()">API</button>
    <button class = "button button-block" ng-click = "postFacebook()">POST</button>
  </ion-content>
</ion-view>
