<ion-view data-ng-init="getEmployee()">
  <ion-content padding="true" overflow-scroll="true">
    <div class="row responsive-sm responsive-md" id="new-profile-div">
      <div class="col col-50 col-offset-25">
        <div class="row responsive-sm" id="profile_row">
          <div class="col-50">
            <div class="list">
              <label class="item">
                <span class="input-label" id="image-label">Avatar</span>
              </label>
              <label class="item item-image">
                <img ng-src="/img/icons/novo_membro.png" ng-if="isNewProfile">
                <img ng-src="{{serverUrl}}/images/employees/{{profile.photoPath}}" ng-if="!isNewProfile">
              </label>
              <label class="item item-file" ng-hide="isView">
                <input id="file_upload" type="file" file-upload>
              </label>
            </div>

            <div class="list">
              <label class="item">
                <button class="button button-block button-outline button-energized" ng-click="showPopupExitDate()">
                  Adicionar data de saída
                </button>
              </label>
              <label class="item">
                <button class="button button-block button-outline button-assertive" ng-click="showConfirmRemove()">
                  Remover perfil
                </button>
              </label>
            </div>
          </div>
          <div class="col-50">
            <div class="list" style="width:100%; height: 100%;">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Nome" ng-model="profile.name" maxlength="75" class="pencil-edit"
                       ng-readonly="isView"/>
              </label>

              <label class="item item-input item-stacked-label">
              <span class="input-label">
                Sexo
              </span>
                <label class="item-select">
                  <select class="pencil-edit" ng-model="profile.gender"
                          ng-init="profile.gender = (profile.gender == undefined ? 'Male' : profile.gender)"
                          selected="selected" ng-disabled="isView">
                    <option selected="selected" value="Male">Masculino</option>
                    <option value="Female">Feminino</option>
                  </select>
                </label>
              </label>

              <label class="item item-input item-stacked-label">
                <span class="input-label">Número de Telemóvel</span>
                <input type="tel" placeholder="Telemóvel" ng-model="profile.phoneNumber" maxlength="9"
                       class="pencil-edit"
                       ng-readonly="isView"/>
              </label>

              <label class="item item-input item-stacked-label">
                <span class="input-label">Endereço de Email</span>
                <input type="email" placeholder="Email" ng-model="profile.email" maxlength="40" class="pencil-edit"
                       ng-readonly="isView"/>
              </label>

              <label class="item item-input item-stacked-label">
                <span class="input-label">Data de nascimento</span>
                <input class="input-date pencil-edit" type="text" ng-model="profile.birthDate"
                       placeholder="yyyy-mm-dd"
                       ng-keydown="on_date_key_down($event)" ng-keypress="on_date_edited($event)" maxlength="10"
                       ng-readonly="isView"/>
              </label>

              <label class="item item-input item-stacked-label">
                <span class="input-label">Data de admissão</span>
                <input class="input-date pencil-edit" type="text" ng-model="profile.entryDate"
                       placeholder="yyyy-mm-dd"
                       ng-keydown="on_date_key_down($event)" ng-keypress="on_date_edited($event)" maxlength="10"
                       ng-readonly="isView"/>
              </label>

              <ion-checkbox ng-model="profile.sendMail"
                            ng-init="profile.sendMail = true"
                            ng-checked="profile.sendMail"
                            ng-disabled="isView">Email de Aniversário
              </ion-checkbox>

              <ion-checkbox ng-model="profile.sendPersonalizedMail"
                            ng-init="profile.sendPersonalizedMail = false"
                            ng-show="profile.sendMail"
                            ng-checked="profile.sendPersonalizedMail"
                            ng-disabled="isView">Email personalizado
              </ion-checkbox>

              <label class="item item-input item-stacked-label" ng-if="!isNewProfile"
                     ng-show="profile.sendPersonalizedMail">
                <input type="text" placeholder="Email personalizado" ng-model="profile.mailText"
                       maxlength="500" class="pencil-edit"
                       ng-readonly="isView"/>
              </label>

              <ion-checkbox ng-model="profile.sendSMS"
                            ng-init="profile.sendSMS = true"
                            ng-checked="profile.sendSMS"
                            ng-disabled="isView">SMS de Aniversário
              </ion-checkbox>

              <ion-checkbox ng-model="profile.sendPersonalizedSMS"
                            ng-init="profile.sendPersonalizedSMS = false"
                            ng-show="profile.sendSMS"
                            ng-checked="profile.sendPersonalizedSMS"
                            ng-disabled="isView">SMS personalizado
              </ion-checkbox>

              <label class="item item-input item-stacked-label" ng-if="!isNewProfile"
                     ng-show="profile.sendPersonalizedSMS">
                <input type="text" placeholder="SMS personalizado" ng-model="profile.smsText"
                       maxlength="140" class="pencil-edit"
                       ng-readonly="isView"/>
              </label>

              <ion-checkbox ng-model="profile.facebookPost"
                            ng-init="profile.facebookPost = false"
                            ng-checked="profile.facebookPost"
                            ng-disabled="isView">Post do Facebook
              </ion-checkbox>
            </div>
          </div>
        </div>
        <div class="row responsive-sm" id="buttons_row">
          <button class="button button-inline-block app-color" ui-sref="tabs.profile.main" id="go_back_button">
            Voltar
          </button>
          <button class="button button-inline-block app-color" ng-click="isView=false"
                  ng-show="isView && !isNewProfile">Editar perfil
          </button>
          <button class="button button-inline-block app-color" ng-click="update_profile()"
                  ng-hide="isView || isNewProfile"> Guardar alterações
          </button>
          <button class="button button-inline-block app-color" ng-click="new_profile(profile)"
                  ng-show="isNewProfile && !isView"> Criar perfil
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
