<ion-view view-title="Search Profile">
  <ion-header-bar id="search-profile-filter">
    <div class="row responsive-sm">
      <div class="col-50 col-offset-25">

        <label id="search-label" class="item item-input app-color">
          <input type="text" ng-model="searchInput" placeholder="Filtrar resultados">
        </label>
      </div>
    </div>
  </ion-header-bar>
  <ion-content id="search-profile">
    <div class="row responsive-sm">
      <div class="col-50 col-offset-25">
        <h4>Resultados</h4>
        <a ui-sref="tabs.profile.main">Voltar</a>
        <label class="item app-color">
          <div id="search-profile-results" class="app-color">
            <div class="list card">
              <div class="item item-avatar" ng-repeat="p in profiles | filter: searchInput">
                <img src="http://tutorialsplane.com/runtest/ionic/img/profile.jpg">
                <h2>{{p.employee.name}}</h2>
                <p>{{p.employee.email}}</p>
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
