<ion-view data-ng-init="getStatistics()">
  <ion-content class="padding">
    <div id="anniversaries_this_month">
      <h2>Aniversários este mês</h2>
      <div class="item-avatar">
        <img src="http://tutorialsplane.com/runtest/ionic/img/profile.jpg" style="position:inherit;">
      </div>
    </div>

    <div id="births_dy_month">
      <h2>Distribuição dos aniversários por mês</h2>
      <div class="app-color">
        <div class="row responsive-sm">
          <div class="col">
              Janeiro 
              <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Jan}}">
                </div>
              </div> 
              {{statistics.BirthsByMonthRatio.Jan}}
          </div>
          <div class="col">Fevereiro <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Feb}}">
                </div>
              </div> {{statistics.BirthsByMonthRatio.Feb}}</div>
          <div class="col">Março <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Mar}}">
                </div>
                </div>{{statistics.BirthsByMonthRatio.Mar}}</div>
        </div>
        <div class="row responsive-sm">
          <div class="col">Abril  <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Apr}}">
                </div>
                </div>{{statistics.BirthsByMonthRatio.Apr}}</div>
          <div class="col">Maio  <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.May}}">
                </div>
                </div>{{statistics.BirthsByMonthRatio.May}}</div>
          <div class="col">Junho <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Jun}}">
                </div>
                </div>{{statistics.BirthsByMonthRatio.Jun}}</div>
        </div>
        <div class="row responsive-sm">
          <div class="col">Julho  <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Jul}}">
                </div>
                </div>{{statistics.BirthsByMonthRatio.Jul}}</div>
          <div class="col">Agosto  <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Aug}}">
                </div>
                </div> {{statistics.BirthsByMonthRatio.Aug}}</div>
          <div class="col">Setembro <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Sep}}">
                </div>
                </div>{{statistics.BirthsByMonthRatio.Sep}}</div>
        </div>
        <div class="row responsive-sm">
          <div class="col">Outubro  <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Oct}}">
                </div>
                </div> {{statistics.BirthsByMonthRatio.Oct}}</div>
          <div class="col">Novembro  <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Nov}}">
                </div>
                </div>{{statistics.BirthsByMonthRatio.Nov}}</div>
          <div class="col">Dezembro <div class="w3-progress-container">
                <div id="myBar" class="w3-progressbar" style="width:{{statistics.BirthsByMonthRatio.Dec}}">
                </div>
                </div>{{statistics.BirthsByMonthRatio.Dec}}</div>
        </div>
      </div>
    </div>
    <div id="ratio_and_years">
      <div class="row">
        <div class="col col-50"><h3>Distribuição do rácio de mulheres/homens</h3></div>
        <div class="col col-50"><h3>Distribuição das faixas etárias (quantidade por anos)</h3></div>
      </div>
      <div class="row app-color">
        <div class="col col-50">
        
          <p>
            <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colours="backgroundColor"></canvas> 
            <img src="../img/icons/homem_pagina_6.png" style="position:inherit;"> 
            <img src="../img/icons/mulher_pagina_6.png" style="position:inherit;"> 
          </p>
          <p>Homens: {{statistics.MFRatio.Male}} Mulheres: {{statistics.MFRatio.Female}} </p>
        </div>
        <div class="col col-50">
          <canvas id="line" class="chart chart-line" chart-data="lineData" chart-labels="lineLabels" chart-legend="false"  chart-colours="lineBackgroundColor">
          </canvas> 
          <p> 
            18-21 : {{statistics.AgeGroups['18to21']}}  
            21-25 : {{statistics.AgeGroups['21to25']}}  
            25-30 : {{statistics.AgeGroups['25to30']}}  
            30-40 : {{statistics.AgeGroups['30to40']}}  
            40+ : {{statistics.AgeGroups['40+']}}
          </p>
        </div>
        
      </div>
    </div>

    <div id="average_time">
      <h2>Tempo médio de permanência (em dias)</h2>
      <p>{{statistics.AverageTime}}</p>
    </div>
  </ion-content>
</ion-view>
