<ion-view>
  <ion-content padding="true" overflow-scroll="true" data-ng-init="getDefaultMsg()">
    <div id="default_messages_div">
      <div class="row responsive-sm responsive-md">
        <div class="col col-50 col-offset-25" id="email_template">
          <label class="title">Template Email</label>
          <label class="item item-input item-stacked-label  app-color">
            <span class="item-label">Mensagem</span>
            <textarea rows="6" class="app-color" placeholder="Template Email" ng-model="defaultMsg.email"></textarea>
          </label>
        </div>
      </div>

      <div class="row responsive-sm responsive-md">
        <div class="col col-50 col-offset-25" id="banners">
          <label class="title">Banners</label>
          </label>
          <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="ban in banners">
              <img ng-src="{{ban}}" width="100%" height="100%">
            </ion-slide>

          </ion-slide-box>
        </div>
      </div>

      <div class="row responsive-sm responsive-md">
        <div class="col col-50 col-offset-25" id="banner">
          <label class="title">Novo Banner</label>
          <label class="item item-input item-stacked-label  app-color">
            <input id="file_upload" type="file" file-upload>
          </label>
        </div>
      </div>


      <div class="row responsive-sm responsive-md">
        <div class="col col-25 col-offset-25" id="sms_template">
          <label class="title">Template SMS</label>
          <label class="item item-input item-stacked-label app-color ">
            <span class="item-label">Mensagem (máx. 160 caracteres)</span>
            <textarea rows="6" maxlength="160" class="app-color" placeholder="Template SMS"
                      ng-model="defaultMsg.sms"></textarea>
          </label>
        </div>

        <div class="col col-25" id="fb_template">
          <label class="title">Template Facebook</label>
          <label class="item item-input item-stacked-label app-color ">
            <span class="item-label">Mensagem (máx. 240 caracteres)</span>
            <textarea rows="6" maxlength="240" class="app-color" placeholder="Template Facebook"
                      ng-model="defaultMsg.fb"></textarea>
          </label>
        </div>
      </div>

      <div class="row responsive-sm responsive-md" id="templates_save_changes">
        <div class="col col-50 col-offset-25">
          <a id="save-profile-changes-btn" ng-click="saveChanges()" ng-hide="isView || isNewProfile">
            Guardar alterações</a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
