<ion-view view-title="Métricas" data-ng-init="getStatistics()">
  <ion-content class="padding">
    <div id="anniversaries_this_month">
      <h2>Aniversários este mês</h2>
      <div class="item-avatar">
        <img src="http://tutorialsplane.com/runtest/ionic/img/profile.jpg" style="position:inherit;">
      </div>
    </div>

    <div id="births_dy_month">
      <h2>Distribuição dos aniversários por mês</h2>
      <div class="app-color">
        <div class="row responsive-sm">
          <div class="col">Janeiro - {{statistics.BirthsByMonth.Jan}}</div>
          <div class="col">Maio - {{statistics.BirthsByMonth.May}}</div>
          <div class="col">Setembro - {{statistics.BirthsByMonth.Sep}}</div>
        </div>
        <div class="row responsive-sm">
          <div class="col">Fevereiro - {{statistics.BirthsByMonth.Feb}}</div>
          <div class="col">Junho - {{statistics.BirthsByMonth.Jun}}</div>
          <div class="col">Outubro - {{statistics.BirthsByMonth.Oct}}</div>
        </div>
        <div class="row responsive-sm">
          <div class="col">Março - {{statistics.BirthsByMonth.Mar}}</div>
          <div class="col">Julho - {{statistics.BirthsByMonth.Jul}}</div>
          <div class="col">Novembro - {{statistics.BirthsByMonth.Nov}}</div>
        </div>
        <div class="row responsive-sm">
          <div class="col">Abril - {{statistics.BirthsByMonth.Apr}}</div>
          <div class="col">Agosto - {{statistics.BirthsByMonth.Aug}}</div>
          <div class="col">Dezembro - {{statistics.BirthsByMonth.Dec}}</div>
        </div>
      </div>
    </div>

    <div id="ratio_and_years">
      <div class="row">
        <div class="col col-33"><h3>Distribuição do rácio de mulheres/homens</h3></div>
        <div class="col col-66"><h3>Distribuição das faixas etárias (quantidade por anos)</h3></div>
      </div>
      <div class="row app-color">
        <div class="col col-33">
          <p>Mulheres: {{statistics.Ratio.Female}}</p>
          <p>Homens: {{statistics.Ratio.Male}}</p>
        </div>
        <div class="col col-66">
          <p>18to24 : {{statistics.AgeGroups['18to24']}}</p>
          <p>25to34 : {{statistics.AgeGroups['25to34']}}</p>
          <p>35to44 : {{statistics.AgeGroups['35to44']}}</p>
          <p>45to54 : {{statistics.AgeGroups['45to54']}}</p>
          <p>55+ : {{statistics.AgeGroups['55+']}}</p>
        </div>
      </div>
    </div>

    <div id="average_time">
      <h2>Tempo médio de permanência (em dias)</h2>
      <p>{{statistics.AverageTime}}</p>
    </div>
  </ion-content>
</ion-view>
