<ion-view>
  <ion-content padding="true" overflow-scroll="true" data-ng-init="getDefaultMsg()">
    <div id="default_messages_div">
      <div class="row responsive-sm responsive-md">
        <div class="col col-50 col-offset-25">
          <label class="title">Template Email</label>
          <label class="item item-input item-stacked-label  app-color">
            <span class="item-label">Mensagem</span>
            <textarea rows="6" class="app-color" placeholder="Template Email" ng-model="defaultMsg.email"></textarea>
          </label>
        </div>
      </div>

      <div class="row responsive-sm responsive-md">
        <div class="col col-25 col-offset-25">
          <label class="title">Template SMS</label>
          <label class="item item-input item-stacked-label app-color ">
            <span class="item-label">Mensagem</span>
            <textarea rows="6" class="app-color" placeholder="Template SMS" ng-model="defaultMsg.sms"></textarea>
          </label>
        </div>

        <div class="col col-25">
          <label class="title">Template Facebook</label>
          <label class="item item-input item-stacked-label app-color ">
            <span class="item-label">Mensagem</span>
            <textarea rows="6" class="app-color" placeholder="Template Facebook" ng-model="defaultMsg.sms"></textarea>
          </label>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
