<ion-view view-title="Profile">
  <ion-content>
      <div id="main-buttons-div" class="row">
        <a ui-sref=".new" class="col-lg-6 col-md-6 col-xm-12 col-xs-12">
          <div>
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <h2>New Profile</h2>
          </div>
        </a>
        <a ui-sref=".search" class="col-lg-6 col-md-6 col-xm-12 col-xs-12">
          <div>
            <i class="fa fa-users" aria-hidden="true"></i>
            <h2>Search Profile</h2>
          </div>
        </a>
      </div>
  </ion-content>
</ion-view>
