<ion-view view-title="Profile">
  <ion-content>
      <div id="main-buttons-div" class="row">
        <a ui-sref=".new" class="col-lg-3 col-md-3 col-xm-6 col-xs-6" id="new-profile-btn-a">
          <div>
            <img ng-src="/app/www/img/icons/novo_membro.png" class="img-responsive center-img"/>
            <h2>New Profile</h2>
          </div>
        </a>
        <a ui-sref=".search" class="col-lg-3 col-md-3 col-xm-6 col-xs-6" id="search-btn-a">
          <div>
            <img ng-src="/app/www/img/icons/pesquisa.png" class="img-responsive center-img"/>
            <h2>Search Profile</h2>
          </div>
        </a>
      </div>
  </ion-content>
</ion-view>
