<ion-content padding="true" overflow-scroll="true">
  <div class="row responsive-sm responsive-md" id="new-profile-div">
    <div class="col col-50 col-offset-25">
      <div class="row responsive-sm">
        <div class="col-50">
          <div class="list">
            <label class="item item-image">
              <img src=""/>
            </label>
          </div>
        </div>
        <div class="col-50">
          <div class="list" style="width:100%; height: 100%;">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Nome</span>
              <input type="text" ng-model="updatedProfile.name" placeholder="{{profile.name}}" maxlength="75" class="pencil-edit"/>
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Número de Telemóvel</span>
              <input type="tel" ng-model="updatedProfile.phoneNumber" placeholder="{{profile.phoneNumber}}" maxlength="9" class="pencil-edit"/>
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Endereço de Email</span>
              <input type="email" ng-model="updatedProfile.email" placeholder="{{profile.email}}" maxlength="40" class="pencil-edit"/>
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Data de nascimento</span>
              <input class="input-date pencil-edit" type="text" ng-model="updatedProfile.birthDate"
                     placeholder="{{profile.birthDate}}"
                     ng-keydown="on_date_key_down($event)" ng-keypress="on_date_edited($event)" maxlength="10"/>
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Data de admissão</span>
              <input class="input-date pencil-edit" type="text" ng-model="updatedProfile.entryDate"
                     placeholder="{{profile.entryDate}}"
                     ng-keydown="on_date_key_down($event)" ng-keypress="on_date_edited($event)" maxlength="10"/>
            </label>

            <ion-checkbox ng-model="updatedProfile.sendMail"
                          ng-checked="profile.sendMail">Email de Aniversário
            </ion-checkbox>

            <ion-checkbox ng-model="updatedProfile.sendSMS"
                          ng-checked="profile.sendSMS">SMS de Aniversário
            </ion-checkbox>

            <ion-checkbox ng-model="updatedProfile.facebookPost"
                          ng-checked="profile.facebookPost">Post do Facebook
            </ion-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <button class="button button-block app-color" ng-click="update_profile(updatedProfile)">Save Changes</button>
      </div>
    </div>
  </div>
</ion-content>
