#new-profile-btn-a {
  margin: 15% 0% 0% 26%;
}

#search-btn-a {
  margin: 15% 20% 0% 0%;
}

#search-btn-a h2{
  padding: 12px;
}

#main-buttons-div img {
  padding-right: 7px;
}

#main-buttons-div h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#main-buttons-div a:hover {
  background-color: #FFD17B;
}

#main-buttons-div a {
  text-decoration: none;
  color: black;
}

.image-size {
  width: 200px;
  height: 200px;
}

.input-date {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-date::-moz-selection {
  background: transparent;
}

.input-date::selection {
  background: transparent;
}
