.app-color {
	background: #FFD17B !important;
}

.tabs-background-app-color > .tabs {
  background-color: white !important;
}

.tabs-top > .tabs {
  top: 20px;
  height: 54px;
}

.tabs-top.tabs-striped .tab-item {
  margin-top: 0;
  border-width: 0 0 2px 0 !important;
  font-size: 12px;
}

.tabs-top.tabs-striped .tab-item > i {
  margin-bottom: 4px;
  color: #FFD17B !important;
}

.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.activated {
  margin-top: 0;
  border-width: 0 0 2px 0 !important;
  border-color: #FFD17B !important;
}

.tab-nav.tabs {
  border-bottom: solid 1px #FFD17B !important;
}
