@font-face {
    font-family: ApexNewLight;
    src: url(apex_new_light.otf);
}

*{
	font-family: ApexNewLight !important;
}

.app-color {
	background: #FFD17B !important;
}

.tabs-background-app-color > .tabs {
  background-color: #FFD17B !important;
}

